html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
a {
    text-decoration:none;
}

.wrap{
    width: 1240px;
    margin: 0 auto;
    font-family: 微軟正黑體;
  }
  .logo{
      float: left;
      width: 500px;
  }
  .logo img{
      width: 50%;
      padding: 10px 0px 0px 55px;
  }
  .title{
      height: 40px;
      background-color: #FFBB00;
     
  }
  .welcome{
      margin-left: 50px;
      float: left;
      width: 80%;
      font-size: 20px;
      padding-top: 10px;
      color: #ffffff;
      font-weight: bold;
  }
  
  .function{
      float:right;
      padding-top: 50px;
   
  }
  
.list{
    float:left;
}
.list li{
    float:left;
    padding-right: 30px;  
    font-size: 17px;
    font-weight: bolder;  
    font-family: 微軟正黑體;
}
.list li a{
    color:	#666666	;
}
.list a:hover{
    color:#FFBB00;
}
.list li span a{
    color:#FFBB00;
}
.clear{
    clear: both;
}
.mean{
    width: 200px;
    text-align: center;
    float: left;
    font-size: 22px;
    font-weight: bold;
    margin-top:40px; 
    
    font-family:微軟正黑體;
}
.mean li{
    list-style:none;
    border: #EAF0ED solid 1px;
    padding: 16px;

}
.mean a{
    display: block;
    color: #A0522D;
  text-decoration:none;
}
.mean li:hover{
    background-color: #EAF0ED;
}
.mean span{
   font-weight: bolder;  
    background-color: #FFBB00;
    color:#fff;
    display: block;
    padding: 16px;  
}
.info{
    margin-top: 40px;
     float: right;
     /* margin-right: 30px; */
     margin-bottom: 100px;
}
table{
    background-color: #dddddd;
}
table td{
    padding:12px;
   font-size: 22px;
   font-family: 微軟正黑體;
}
table .t{
    width: 200px;
    border-right: 2px solid #000000;
    border-bottom: 2px solid #000000;
}
table .detail{
    width: 400px;
    border-bottom: 2px solid #000000;
}
table .t2{
    border-bottom: 2px solid #000000;
}
table .detail2{
    line-height: 35px;
}
.picture{
    margin-top: 40px;
    float: left;
    
    padding-left: 60px;
}
.picture img{
    width:300px ;
}